@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px;
    color: #333333;
    margin-bottom: 5rem;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 1rem 0;
    width: 24rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background: #ff5500;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}

/* CSS for Current Level H1 */
#currentLevel {
    font-size: 24px;
    text-align: center;
    margin: 20px;
  }
  
  /* CSS for Awards Text */
  .awardsText {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* CSS for Awards Image */
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 100px;
    height: 100px;
  }
  
  #awards p{
    color: white;
    font-size: 20px;
  }