@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(29, 26, 26)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px;
    color: #fff;
    margin-bottom: 5rem;
}

.summary{
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 5rem;
  text-align: center;
}


h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 1rem 0;
    width: 24rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background: #ffaf00;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 221, 6) 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5)
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* End Page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}

/* CSS for Current Level H1 */
#currentLevel {
    font-size: 24px;
    text-align: center;
    margin: 20px;
  }
  
  /* CSS for Awards Text */
  .awardsText {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* CSS for Awards Image */
  .awardImage {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 100px;
    height: 100px;
  }
  
  #awards p{
    color: white;
    font-size: 20px;
  }