@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Roboto+Condensed:wght@700&display=swap');

/* Global Styles */
body {
  background-color: #fff; /* Updated background color */
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #000;
  overflow: hidden; /* Hide the scrollbar */
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}


/* Score and Awards Styles */
#finalScore {
  font-size: 3.2rem;
  margin: 2rem;
  font-family: 'Bebas Neue', sans-serif;
}

.awardsText {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
}

#awardsImages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

#awardsImages img {
  display: block;
  margin: 1rem;
  max-width: 100%;
  height: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ddf4ff; /* Updated award border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  #awardsImages img {
    width: 80px;
    height: 80px;
  }
}

.banner {
  font-size: 24px;
  font-weight: bold;
}

.banner span {
  border-bottom: 2px solid #ff5500;
  padding-bottom: 5px;
}

.smalllinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}


a {
  text-decoration: none;
  color: #333333;
}

li {
  list-style: none;
}

#currentLevel {
  font-family: 'Inconsolata', monospace;
}

.leaderboard {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}