html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background-color: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input {
	line-height: normal
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}

* {
	-webkit-box-sizing: content-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: content-box; /* Firefox 1 - 28 */
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	background: #010001;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333
}
body {
	font-size: 1px;
}
h1, h2, h3, h4, h5, h6, p {
	line-height: 1.45;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
.play-icon {
	width: 50px;
	height: 50px;
	display: block;
	background: url('../images/play.png') 16px center no-repeat;
}
.pause-icon {
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/pause.png') 14px center no-repeat;
}
#player-btn--skip {
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 15px;
	display: block;
	border-radius: 8px;
	width: auto;
	background: transparent;
	padding: 4px 20px;
	line-height: 37px;
	border-radius: 0;
	font-family: monospace;
	opacity: 1;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	margin-bottom: 0;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
div#video-controls {
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 5%;
	cursor: pointer;
}
span#play-pause {
	color: #fff;
	font-size: 25px;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: #f00;
	padding: 0;
	line-height: 37px;
	border-radius: 27px;
	background: #e92e27;
	background: -moz-linear-gradient(top, #e92e27 0%, #be1623 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e92e27), color-stop(100%,#be1623));
	background: -webkit-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: -o-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: -ms-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: linear-gradient(to bottom, #e92e27 0%,#be1623 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e92e27', endColorstr='#be1623',GradientType=0 );
	font-family: monospace;
	opacity: 0.5;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
span#play-pause:hover {
	opacity: 1;
}
/*
 * sutitle
 */
#video-outer {
	position: relative;
	height: 100%;
}
#video-outer > div {
	width: 55% !important;
	margin: 0 auto;
	left: 23% !important;
}
#video-outer > div:nth-child(2) {
	font-size: inherit !important;
	/*top: 20% !important;
	 bottom: initial !important;*/
	margin-top: -10%;
}
#video-outer > div:nth-child(3) {
	font-size: inherit !important;
	/*top: 20% !important;
	 bottom: initial !important;*/
	margin-top: -40%;
}
#video-outer.sub-off > div {
	display: none;
}
#player-btn--subtitles {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	
	font-size: 15px;
	display: block;
	border-radius: 8px;
	width: auto;
	background: transparent;
	padding: 4px 20px;
	line-height: 37px;
	border-radius: 0;
	font-family: monospace;
	opacity: 1;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	margin-bottom: 0;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	color: #5E5E5E;
}
#player-btn--subtitles.sub-inactive {
	color: #fff;
}
.hero-unit {
	margin: 50px auto 0;
	width: 300px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	background-color: #eee;
	border-radius: 6px;
	padding: 60px
}
.hero-unit h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px
}
.browsehappy {
	margin: .2em 0;
	background: #ccc;
	color: #000;
	padding: .2em 0
}
.player, #player--video {
	width: 100%;
	max-width: 100%
}
.player {
	overflow: hidden;
	position: absolute;
}
.player.loading svg {
	opacity: 1
}
svg {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px
}
svg rect {
	fill: #f2f2f2
}
#player--video {
	display: inline-block;
	margin-top: 300px;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

#player-btn--skip {
	 position: fixed;
	 right: 0;
	 top: 10;
	 color: white;
	 margin-right: 5px;
	 border: none;
}
#player-btn--begin {
	position: fixed;
	right: 0;
	top: 0;
}
#player--controls {
	position: absolute;
	z-index: 999;
	right: 7%;
	height: 341px;
	top: 151px;
	padding-top: 12%;
	width: 24%;
}

@media (min-width: 850px) {
	#player-btn--skip {
		background-color: #000;
		margin-bottom: 10px;
	}
}

#player-btn--a, #player-btn--b, #player-btn--c {
	/*background: rgba(0, 0, 0, 0.36);*/
	background-image: url(../images/left-top.png), url(../images/right-top.png), url(../images/bottom-left.png), url(../images/bottom-right.png);
	background-position: left top, right top, left bottom, right bottom;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
#player-btn--a:hover, #player-btn--b:hover, #player-btn--c:hover {
	background: rgba(0, 0, 0, 0.36);
	background-image: url(../images/left-top.png), url(../images/right-top.png), url(../images/bottom-left.png), url(../images/bottom-right.png);
	background-position: left top, right top, left bottom, right bottom;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.btn {
	color: #fff;
	display: block;
	/*font-size: 23px;*/
	padding: 10px;
	line-height: 1.3em;
	text-align: center;
	text-decoration: none;
	z-index: 999;
	margin-bottom: 9%;
	font-family: 'Open Sans', sans-serif;
}

section#coins {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #fff;
	font-size: 20px;
	z-index: 9999999;
	display: none;
}

section#coins ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

section#coins ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url('../images/TM_TBall.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: inline-block
}
section.coins ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	background: url('../images/TM_TBall.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: inline-block;
}
section#coins ul li.empty {
	background-image: url('../images/TM_TBall_empty.png') !important;
	opacity: 0.5;
}

.block {
	background-color: rgba(255, 255, 255, 0.59) !important;
	cursor: auto !important;
}
section.tutorial {
	display: none;
	position: absolute;
	z-index: 999;
	/*top: 100px;*/
	/*left: 20%;*/
	color: #fff;
	/*font-size: 1px;*/
	text-align: center;
	width: 33%;
}

section#tutorial-1 {
	top: 100px;
	text-align: right;
	background: url(../images/bg_tutorial_0002_Rectangle-1.png) center center no-repeat;
	background-size: contain;
	padding: 14px 16px;
}

section#tutorial-2 {
	background: url(../images/bg_tutorial_0000_Rectangle-3.png) center center no-repeat;
	background-size: contain;
	padding: 21px 10px;
	width: 19%;
}

section#tutorial-3 {
	top: 300px;
	background: url(../images/bg_tutorial_0001_Rectangle-2.png) center center no-repeat;
	background-size: contain;
	padding: 13px 0;
	width: 20%;
}
section#pa-q {
	display: none;
}
section#pa-q a {
	position: absolute;
	z-index: 9999;
}
section#pa-q a#again-button {
	background: url(../images/przyciski_end_05.png) center center no-repeat;
	background-size: contain;
	width: 250px;
	height: 100px;
	padding: 10px;
}
section#pa-q a#quit-button {
	background: url(../images/przyciski_end_03.png) center center no-repeat;
	background-size: contain;
	width: 250px;
	height: 100px;
	padding: 10px;
}
@media only screen and (max-width: 2600px) {
	section#coins ul li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		width: 45px;
		height: 45px;
		margin-left: 7px;
		background: url('../images/TM_TBall.png') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: inline-block;
	}
}
@media only screen and (max-width: 1700px) {
	section#coins ul li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		width: 30px;
		height: 30px;
		margin-left: 7px;
		background: url('../images/TM_TBall.png') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: inline-block;
	}
}
@media only screen and (max-width: 1099px) {
	section#coins ul li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		width: 20px;
		height: 20px;
		margin-left: 7px;
		background: url('../images/TM_TBall.png') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: inline-block;
	}
}
@media only screen and (max-width: 800px) {
	section#coins ul li {
		list-style: none;
		padding: 0px;
		margin: 0px;
		width: 15px;
		height: 15px;
		margin-left: 7px;
		background: url('../images/TM_TBall.png') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: inline-block;
	}
}
/* video caption css */
.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #1F1F1F; /* fallback */
	background: -moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background: -webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background: -o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control {
	/*background: #333;*/
	color: #ccc;
	position: absolute;
	bottom: 3%;
	left: 20%;
	width: 60%;
	height: 60px;
	z-index: 9999;
	/*border: 1px solid #404040;*/
	display: none;
	opacity: 0;
}
#cntrl-wrapper {
	display: block;
}
.btnPlay.paused span.ico {
	display: block;
	width: 40px;
	height: 40px;
	background: url('../images/pause.png') 9px center no-repeat;
	z-index: 9999;
}
.btnPlay span.ico {
	display: block;
	width: 40px;
	height: 40px;
	background: url('../images/play.png') 11px center no-repeat;
	z-index: 9999;
}
.control a {
	background: #e92e27;
	background: -moz-linear-gradient(top, #e92e27 0%, #be1623 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e92e27), color-stop(100%,#be1623));
	background: -webkit-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: -o-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: -ms-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: linear-gradient(to bottom, #e92e27 0%,#be1623 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e92e27', endColorstr='#be1623',GradientType=0 );
	border-radius: 52px;
}
.btmControl {
	/*background: -moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	 background: -webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	 background: -o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);*/
	position: relative;
	height: 50px;
}
/* Main button */
.mainControl {
	width: 182px;
	text-align: center;
	margin: auto;
	border-radius: 7px 7px 0 0;
	padding-top: 5px;
}
.control a.btnmain {
	margin: 0 auto;
	cursor: pointer;
	float: none;
	display: block;
}
.control a.btnmain:focus {
	outline: none;
}
.control a.lvl1 {
	width: 40px;
	height: 40px;
}
.control a.lvl2 {
	width: 33px;
	height: 33px;
	margin-top: 10px;
}
.control a.lvl3 {
	width: 28px;
	height: 28px;
	margin-top: 15px;
}
/*.control a.btnPlay {
 background: url(../images/control.png) no-repeat 0 0;
 }
 .control a.btnPlay:hover, .control a.btnPlay:focus {
 background: url(../images/control.png) no-repeat 0 -40px;
 }
 .control a.paused {
 background: url(../images/control.png) no-repeat -40px 0 !important;
 }
 .control a.paused:hover, .control a.paused:focus {
 background: url(../images/control.png) no-repeat -40px -40px !important;
 }*/
.control a.btnBck {
	background: url(../images/control.png) no-repeat -113px 0;
}
.control a.btnBck:hover, .control a.btnBck:focus {
	background: url(../images/control.png) no-repeat -113px -40px;
}
.control a.btnFwd {
	background: url(../images/control.png) no-repeat -80px 0;
}
.control a.btnFwd:hover, .control a.btnFwd:focus {
	background: url(../images/control.png) no-repeat -80px -40px;
}
.control a.btnStop {
	background: url(../images/control.png) no-repeat -146px 0;
}
.control a.btnStop:hover, .control a.btnStop:focus {
	background: url(../images/control.png) no-repeat -146px -40px;
}
.control a.btnEnd {
	background: url(../images/control.png) no-repeat -174px 0;
}
.control a.btnEnd:hover, .control a.btnEnd:focus {
	background: url(../images/control.png) no-repeat -174px -40px;
}

/*** SOUND + VOLUME CSS ***/
/* sound */
.control div.sound {
	width: 17px;
	height: 17px;
	margin-top: 5px;
	margin-left: -20px;
	cursor: pointer;
	background: url(../images/control.png) no-repeat -202px 0;
}
.control div.muted {
	background: url(../images/control.png) no-repeat -202px -40px;
}

/* volume */
.volume {
	position: absolute;
	bottom: 3px;
	right: 3px;
	cursor: pointer;
	width: 40px;
	height: 21px;
	background: #333;
}
.volume .volumeCover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: url(../images/control.png) no-repeat -219px 0;
	width: 100%;
	height: 100%;
}
.volume .volumeBar {
	display: block;
	width: 75%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ccc;
	z-index: 5;
}
.volume .volumeoff {
	background-color: #333;
}

/* PROGRESS BAR CSS */
/* Progress bar */
.progress {
	width: 100%;
	height: 10px;
	position: relative;
	cursor: pointer;
	background: #444; /* fallback */
	background: -moz-linear-gradient(top,#333,#555);
	background: -webkit-linear-gradient(top,#333,#555);
	background: -o-linear-gradient(top,#333,#555);
	box-shadow: 0 -3px 3px #111 inset;
	-moz-box-shadow: 0 -3px 3px #111 inset;
	-webkit-box-shadow: 0 -3px 3px #111 inset;
}
.progress span {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.timeBar {
	z-index: 10;
	width: 0;
	background: #e92e27;
	background: -moz-linear-gradient(top, #e92e27 0%, #be1623 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e92e27), color-stop(100%,#be1623));
	background: -webkit-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: -o-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: -ms-linear-gradient(top, #e92e27 0%,#be1623 100%);
	background: linear-gradient(to bottom, #e92e27 0%,#be1623 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e92e27', endColorstr='#be1623',GradientType=0 )
}
.bufferBar {
	z-index: 5;
	width: 0;
	background: #777; /* fallback */
	background: -moz-linear-gradient(top,#999,#666);
	background: -webkit-linear-gradient(top,#999,#666);
	background: -o-linear-gradient(top,#999,#666);
	box-shadow: 0 -3px 3px #555 inset;
	-moz-box-shadow: 0 -3px 3px #555 inset;
	-webkit-box-shadow: 0 -3px 3px #555 inset;
}

/* OTHERS CSS */
/* video screen cover */
.loading, #init {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/loading.gif) no-repeat 50% 50%;
	z-index: 2;
	display: none;
}
#init {
	background: url(../images/bigplay.png) no-repeat 50% 50% !important;
	cursor: pointer;
}
#loader {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 99999999;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	background: url('../images/loader.gif') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: none;
}